In [17]:
import pandas as pd
import numpy as np

def main():
    data=np.array([[1000,25],[280,120],[900,30]])
    index=["store1","store2","store3"]
    columns=["unit price","number"]
    
    df=pd.DataFrame(data,index=index,columns=columns)
    print(df,'\n')
    
    df2=df
    df2["total price"]=df2["unit price"]*df2["number"]
    print(df2,'\n')
    
    df3=df2.sort_values(by="total price",ascending=False)
    print(df3.head(2))
    
if __name__=="__main__":
    main()

        unit price  number
store1        1000      25
store2         280     120
store3         900      30

        unit price  number  total price
store1        1000      25        25000
store2         280     120        33600
store3         900      30        27000

        unit price  number  total price
store2         280     120        33600
store3         900      30        27000